extends ../base.pug

block contents
  div
    p=video.description
    ul
      each hashtag in video.hashtags
        li=hashtag
    small=video.createdAt
  a(href=`${video.id}/edit`) Edit video &rarr;
  br
  a(href=`${video.id}/delete`) Delete video &rarr;



