mixin video(data)
  div
    h4
      a(href=`videos/${data.id}`)=data.title
    ul
      li #{data.rating} / 5.
      li #{data.comments} comments.
      li Posted #{data.createdAt}.
      li #{data.views} views.
